/****************************/
/* datepicker specific css  */
/****************************/

#datepicker {
    display: flex;
    position: relative;
    max-height: 75px;
}

#choose-date {
    color: #424242;
    display: block;
}
