* {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 65px;
  background-color: #f1f1f1;
  height: 100%;
  position: fixed;
}

li a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}

li a.active {
  background-color: #555;
  color: white;
}

li a:hover {
  background-color: #111;
  color: white;
}

.grid-container {
  margin-left:65px;
  padding:0 16px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 60px 1fr 70px 1.5fr;
  grid-gap: 10px;
  grid-template-areas:
    "title"
    "graph"
    "action-bar"
    "table";
  height: 100vh;
}

.title {
  grid-area: title;
}

.graph {
  grid-area: graph;
}

.action-bar {
  grid-area: action-bar;
  width: 100%;
  display: flex;
}

.action-bar .button {
  align-self: flex-end;
  margin-bottom: 8px;
  margin-left: 8px;
  transition: all 0.3s ease;
  padding: 10px 18px;
  background-color: white;
  color: black;
  border: 2px solid #e7e7e7;
}

.button:hover {
  background-color: #e7e7e7;
}

#create-entry {
  margin-left: auto;
}

#create-entry:hover {
  background-color: #e7e7e7;
}

.datepickerGroup {
  margin: 0 8px;
  display: flex;
  flex-direction: column-reverse;
}

.datepickerGroup input {
  transition: all 0.3s ease;
  padding: 10px 18px;
  margin: 8px auto;
  box-sizing: border-box;
  border: 2px solid #ccc;
}

.datepickerGroup input:focus {
  border: 2px solid #569ff7;
}

.table-wrapper {
  grid-area: table;
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.table {
  overflow-y: scroll;
  flex-grow: 1;
}

.table-wrapper th {
  position: sticky;
  top: 0;
}

table {
  border-collapse: collapse;
  width: 100%;
}

td,th {
  padding: 5px;
  text-align: left;
}

th {
  background: #DDD;
}

.highcharts-data-table table {
  font-family: Verdana, sans-serif;
  border-collapse: collapse;
  border: 1px solid #EBEBEB;
  margin: 10px auto;
  text-align: center;
  width: 100%;
  max-width: 500px;
}

.highcharts-credits, .highcharts-background, #trend-graph .highcharts-title {
  display: none;
}

.column-titles {
  font: 16px "Lucida Grande", Arial, Helvetica, sans-serif;
  font-weight: bold;
}

.table-entry {
  font: 12px "Lucida Grande", Arial, Helvetica, sans-serif;
}

#popup {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 30%;
  display: grid;
  grid-template-areas:
    "top-bar top-bar"
    "left-part right-part";
  grid-template-rows: 0.7fr 5fr;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
  background-color: lightgrey;
  box-shadow: -2px -2px 2px rgba(100, 100, 100, .75) inset, 2px 2px 2px white inset;
  z-index: 2000;
}

#plane {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #000000bf;
  width: 100%;
  height: 100%;
  z-index: 1000;
}

#top-bar {
  display: flex;
  grid-area: top-bar;
  background-color: grey;
  position: relative;
  box-shadow: -2px -2px 2px rgba(100, 100, 100, .75) inset, 1px 1px 2px white inset;
}

#top-bar-label {
  display: flex;
  align-items: center;
  font-size: 1rem;
  font-weight: bold;
  padding-left: 5px;
}

#exit {
  position: absolute;
  top: 0;
  right: 0;
  background-color: red;
  border-color: red;
  height: 100%;
  width: 1.5rem;
  opacity: 0.4;
  font-weight: bold;
}

#exit:hover {
  opacity: 1;
}

#left-part {
  grid-area: left-part;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 0.5rem 0.5rem 0.5rem 0.75rem;
}

#right-part {
  grid-area: right-part;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 0.5rem 0.75rem 0.5rem 0.5rem;
}

select {
  height: 19.2px;
}

select:invalid {
  color: gray;
}

.spare {
  height: 19.2px;
}

#datepicker {
  display: flex;
  position: relative;
  max-height: 75px;
}

#choose-date {
  color: #424242;
  display: block;
}

.delete-entry {
  background-color: white;
  fill: #d1646e;
  border: 0;
}

.delete-entry:hover {
  fill: #f20f23;
}
